name: Linux Auto-Builds
on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - .github/workflows/freebsd_build.yml
      - .github/workflows/windows_build.yml
  pull_request:
    types:
      - edited
      - opened
      - synchronize
    paths-ignore:
      - .github/workflows/freebsd_build.yml
      - .github/workflows/windows_build.yml
  workflow_dispatch:
concurrency:
  # Cancel concurrent workflows for the same PR or commit hash.
  group: ${{github.workflow}}-${{github.event_name == 'pull_request' && github.head_ref || github.sha}}
  cancel-in-progress: true

jobs:
  job:
    name: Linux Github Auto-Builds
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    steps:
      - name: Download dependencies
        run: sudo apt update && sudo apt install libgl1-mesa-dev libsdl2-dev libopenal-dev libcurl4-openssl-dev cmake ninja-build

      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Build the engine
        run: |
          mkdir build
          cd build
          cmake -G Ninja -DDEDICATED=ON ../neo/
          ninja

      - name: Lower case runner.os
        id: runner_os
        uses: Entepotenz/change-string-case-action-min-dependencies@v1.1.0
        with:
          string: ${{runner.os}}

      - name: Copy base files to ${{steps.runner_os.outputs.lowercase}}/
        shell: pwsh
        run: |
          cd ${{github.workspace}}
          Copy-Item -Path "base" -Destination "output/${{steps.runner_os.outputs.lowercase}}/base" -Recurse
          Copy-Item -Path "libs" -Destination "output/${{steps.runner_os.outputs.lowercase}}/libs" -Recurse
          Copy-Item -Path ".github/Changelog.md" -Destination "output/${{steps.runner_os.outputs.lowercase}}"
          Copy-Item -Path ".github/Configuration.md" -Destination "output/${{steps.runner_os.outputs.lowercase}}"
          Copy-Item -Path ".github/README.md" -Destination "output/${{steps.runner_os.outputs.lowercase}}"

      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: prey2006-linux
          path: output/linux/
